<%= form_for @comment, remote: true do |f| %>
  <div><%= f.label :body, 'Enter your comment:' %></div>
  <div><%= f.text_area :body,rows: 3, required: true, maxlength: 2000%></div>
  <div><small>Cannot be blank or contain more than 2000 symbols.</small></div>
<%= f.submit 'Post'  %>
<% end %>